<p class="text-center text-xs text-zinc-500 mt-16 pb-10">
  Built using <a href="https://astro.build/">Astro</a> and <a
    href="https://tailwindcss.com/">TailwindCSS</a
  >. Code available on <a
    href="https://github.com/jose-donato/jose-donato.deno.dev"
    class="_link">GitHub</a
  >.
</p>
